.page-cep{

    background: linear-gradient(to bottom, #000000 8%, #030816 50%, #000000 85%);
    color: #fff;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}