.page-cep{

    background: linear-gradient(to bottom, #000000 8%, #030816 50%, #000000 85%);
    color: #fff;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        padding-top: 6%;
    }

    p{
        font: 500 20px "Roboto";
        padding-top: 3%;
        color: #585757;
    }

    .datas{
        margin-top: 5%;

        input{
            padding: 10px;
            outline: 0;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-style: none;
            width: 300px;
        }
        input:focus{
            border-color: #2e65b6;
            outline: none;
            box-shadow: 0 6px 14px rgba(12, 75, 170, 0.205);
        }
        button{
            padding: 10px;
            outline: 0;
            border-style: none;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            color: #2e65b6;
        }

        button:hover{

            background-color: #031d4e;
            transform: scale(1.02);
            transition: 0.5s ease;
            color: #2e65b6;
        }
    }
}