.home-page {

    img{
        margin-top: 3%;
        width: 250px;
        border-radius: 100%;
        margin-left: 40%;
    }

    header {

        display: flex;
        flex-direction: row;
        gap: 100px;
        padding-top: 3%;
        align-items: center;
        justify-content: center;

        .link {
            color: #fff;
            font: 500 18px "Roboto";
            text-align: center;
        }

        .active-link{
            color: #2e65b6;
            text-align: center;
            font: 500 18px "Roboto";
        }

        a:hover {

            color: #2e65b6;
            transition: 0.5s ease;

        }
    }

}