.card-astro{
    
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    background-color: #1b1b1d;
    width: 350px;
    border-radius: 12px;
    padding: 20px;
    text-align: center;

}
